
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<style>

#ptable{
	width=100%;
}

td {
  height: 30px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}
	
th {
  height: 30px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}	

</style>

<body>
	<!--Table!-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<table id="ptable">
	</table>
	
	<script type="text/javascript">
	
	create();
	resetTable();
		
	function resetTable(){
		$("#ptable tr").remove(); 
		
		var tableBody= "";

		tableBody = tableBody + "<tr>";
		 tableBody = tableBody + "<th>" + "   Handout   " + "</th>" + "<th>" + "   Points Obtained   " + "</th>" + "<th>" + "   Total Points Needed   " + "</th>" 
			 + "<th>" + "   Percentage Obtained   " + "</th>" + "<th>" + "   Total Possible Points   " + "</th>";
		 tableBody = tableBody + "</tr>";  


 		 var correctness=JSON.parse(localStorage.getItem("correctness"));
		var folderName=JSON.parse(localStorage.getItem("folderName"));
		
		// iterate localStorage
		for (var i = 0; i < correctness.length; i++) {
		  
		var putt=getPoints(i);
				
		  // console.log the iteration key and value
		  tableBody = tableBody + "<tr>";
		  tableBody = tableBody + "<td><a href=\"problems/" + folderName[i] +  "/home\">"
			  + putt[0] + "</a></td>" + "<td>" + putt[1] + "</td>" + "<td>" + putt[2] + "</td>" + "<td>" + putt[3] + "</td>"+ "<td>" + putt[4] + "</td>";
		  tableBody = tableBody + "</tr>";  

		}
		 
		$("#ptable").append(tableBody);
	}
	
   function getPoints(p1){
      
      //Holds points, required points, percentage, total points in handout
      var ans=[];
	   
      var score=0;
      var total=0;
      
      var points=JSON.parse(localStorage.getItem("points"));
      var correctness=JSON.parse(localStorage.getItem("correctness"));
      var pointsNeeded=JSON.parse(localStorage.getItem("pointsNeeded"));
	var handoutName=JSON.parse(localStorage.getItem("handoutName"));
      
      for(var i=0; i<points[parseInt(p1)].length; i++){
        score+=parseInt(points[parseInt(p1)][i])*parseInt(correctness[parseInt(p1)].charAt(i));
        total+=parseInt(points[parseInt(p1)][i]);
      }
      
      ans.push(handoutName[parseInt(p1)]);   
      ans.push(score);
      ans.push(pointsNeeded[parseInt(p1)]);
      ans.push((100*parseInt(score)/parseInt(pointsNeeded[parseInt(p1)])) + "%");
      ans.push(total);
      
      return ans;
   }
	function create(){
		//Absolute new
		localStorage.setItem("pointsNeeded", JSON.stringify([60, 68, 70, 68]));
		localStorage.setItem("handoutCode", JSON.stringify(["exp", "pol", "seq", "tel"]));
		localStorage.setItem("answers", JSON.stringify([["-2,3","5/3","5","-2","7/4","2,3","757","20","broken","-10","bsqrt2","TODO","broken","1","3","broken","1","5/4","2","1997","sqrt2"],
							       ["3,3x^3,17,3x^3+4x^2-21x+17","12","-3,10/3","16","12","-2","-2","(2^(100)-1)x-(2^(100)-2)","x^2+5x+2","x^2/2-x/2+2","2","9x+35","(11,-13)","5x","ax^5+bx^4+cx^3","4","500","23","383","36"],
							       ["528","1/3","1","3979","33","986","6950","55","123/40","1/4,3/4,5/4","-12/19,12","93","10000","1/3","348","925","840","1/3","63","802","542","4,10,25","3279","3/4","-5,4","11/5","1024","ar/((1-a)(1-r))","129"],
							       ["99/100","26/105","128/257","(100!-1)/100!","1/2-1/100!","9","1/2","1501","13/36","20481","2^(3/4)","2"]]));
		localStorage.setItem("handoutName", JSON.stringify(["Exponents (A)", "Polynomials A (A)", "Sequences A (A)", "Telescoping (A)"]));
		localStorage.setItem("exp", 0);
		localStorage.setItem("pol", 1);
		localStorage.setItem("seq", 2);
		localStorage.setItem("tel", 3);
		localStorage.setItem("folderName", JSON.stringify(["exponents","polynomialsA", "sequences","telescoping"]));
		localStorage.setItem("points", JSON.stringify([[2,2,3,5,3,3,7,7,5,3,5,5,2,3,3,5,5,7,7,7,11],
							      [2,2,3,5,5,3,5,7,5,5,3,5,7,5,7,5,7,11,11,11],
							      [2,2,3,5,5,7,2,3,7,5,5,3,3,3,11,3,3,5,5,5,5,3,2,2,2,3,5,3,5],
							      [2,2,2,3,5,3,7,11,11,11,11,11]]));
		
		if(localStorage.getItem("clicks")===null){
			localStorage.setItem("clicks", JSON.stringify([[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]]));
		}
		
		if(localStorage.getItem("correctness")===null){
			localStorage.setItem("correctness", JSON.stringify(["000000000000000000000"]));
		}
		
		//Updates
		var answers=JSON.parse(localStorage.getItem("answers"));
		var handoutName=JSON.parse(localStorage.getItem("handoutName"));
		
		var clicks=JSON.parse(localStorage.getItem("clicks"));
		var correctness=JSON.parse(localStorage.getItem("correctness"));
		
		while(clicks.length<handoutName.length){
			var temp=[];
			for(var i=0; i<answers[clicks.length].length; i++){
				temp.push(0);
			}
			clicks.push(temp);
		}
		
		localStorage.setItem("clicks", JSON.stringify(clicks));
		
		while(correctness.length<handoutName.length){
			var temp="";
			for(var i=0; i<answers[correctness.length].length; i++){
				temp+="0";
			}
			correctness.push(temp);
		}
		
		localStorage.setItem("correctness", JSON.stringify(correctness));
	}
        </script>
</body>
</html>
