
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<style>

#ptable{
	width=100%;
}

td {
  height: 30px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}
	
th {
  height: 30px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}	

</style>

<body>
	<!--Table!-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<table id="ptable">
	</table>
	
	<script type="text/javascript">
	
	create();
	resetTable();
		
	function resetTable(){
		$("#ptable tr").remove(); 
		
		var tableBody= "";

		tableBody = tableBody + "<tr>";
		 tableBody = tableBody + "<th>" + "   Handout   " + "</th>" + "<th>" + "   Points Obtained   " + "</th>" + "<th>" + "   Total Points Needed   " + "</th>" 
			 + "<th>" + "   Percentage Obtained   " + "</th>" + "<th>" + "   Total Possible Points   " + "</th>";
		 tableBody = tableBody + "</tr>";  


 		 var correctness=JSON.parse(localStorage.getItem("correctness"));
		var folderName=JSON.parse(localStorage.getItem("folderName"));
		
		// iterate localStorage
		for (var i = 0; i < correctness.length; i++) {
		  
		var putt=getPoints(i);
				
		  // console.log the iteration key and value
		  tableBody = tableBody + "<tr>";
		  tableBody = tableBody + "<td><a href=\"problems/" + folderName[i] +  "/home\">"
			  + putt[0] + "</a></td>" + "<td>" + putt[1] + "</td>" + "<td>" + putt[2] + "</td>" + "<td>" + putt[3] + "</td>"+ "<td>" + putt[4] + "</td>";
		  tableBody = tableBody + "</tr>";  

		}
		 
		$("#ptable").append(tableBody);
	}
	
   function getPoints(p1){
      
      //Holds points, required points, percentage, total points in handout
      var ans=[];
	   
      var score=0;
      var total=0;
      
      var points=JSON.parse(localStorage.getItem("points"));
      var correctness=JSON.parse(localStorage.getItem("correctness"));
      var pointsNeeded=JSON.parse(localStorage.getItem("pointsNeeded"));
	var handoutName=JSON.parse(localStorage.getItem("handoutName"));
      
      for(var i=0; i<points[parseInt(p1)].length; i++){
        score+=parseInt(points[parseInt(p1)][i])*parseInt(correctness[parseInt(p1)].charAt(i));
        total+=parseInt(points[parseInt(p1)][i]);
      }
      
      ans.push(handoutName[parseInt(p1)]);   
      ans.push(score);
      ans.push(pointsNeeded[parseInt(p1)]);
      ans.push((100*parseInt(score)/parseInt(pointsNeeded[parseInt(p1)])) + "%");
      ans.push(total);
      
      return ans;
   }
	function create(){
		if(localStorage.getItem("pointsNeeded")===null){
			localStorage.setItem(pointsNeeded, JSON.stringify([60]));
		}
		
		if(localStorage.getItem("handoutCode")===null){
			localStorage.setItem(handoutCode, JSON.stringify(["exp"]));
		}
		
		if((localStorage.getItem("answers")===null){
			localStorage.setItem(answers, JSON.stringify([["-2,3","5/3","5","-2","7/4","2,3","757","20","broken","-10","bsqrt2","TODO","broken","1","3","broken","1","5/4","2","1997","sqrt2"]]));
		}
		
		if(localStorage.getItem("clicks")===null){
			localStorage.setItem(clicks, JSON.stringify([["0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0"]]));
		}
		
		if(localStorage.getItem("correctness")===null){
			localStorage.setItem(correctness, JSON.stringify(["000000000000000000000"]));
		}
		
		if(localStorage.getItem("handoutName")===null){
			localStorage.setItem(handoutName, JSON.stringify(["Exponents (A)"]));
		}
		
		if(localStorage.getItem("exp")===null){
			localStorage.setItem(exp, 0);
		}
		
		if(localStorage.getItem("folderName")===null){
			localStorage.setItem(folderName, JSON.stringify(["exponents"]));
		}
		
		if(localStorage.getItem("points")===null){
			localStorage.setItem(points, JSON.stringify([["2","2","3","5","3","3","7","7","5","3","5","5","2","3","3","5","5","7","7","7","11"]]));
		}
	}
        </script>
</body>
</html>
