
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<style>

#ptable{
	width=100%;
}

td {
  height: 30px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}
	
th {
  height: 30px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}	

</style>

<body>
	<!--Table!-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<table id="ptable">
	</table>
	
	<script type="text/javascript">
		
	resetTable();
		
	function resetTable(){
		$("#ptable tr").remove(); 
		
		var tableBody= "";

		tableBody = tableBody + "<tr>";
		 tableBody = tableBody + "<th>" + "   Handout   " + "</th>" + "<th>" + "   Points Obtained   " + "</th>" + "<th>" + "   Total Points Needed   " + "</th>" 
			 + "<th>" + "   Percentage Obtained   " + "</th>" + "<th>" + "   Total Possible Points   " + "</th>";
		 tableBody = tableBody + "</tr>";  


 		 var correctness=JSON.parse(localStorage.getItem("correctness"));
		var handoutCode=JSON.parse(localStorage.getItem("handoutCode"));
		
		// iterate localStorage
		for (var i = 0; i < correctness.length; i++) {
		  
		var putt=getPoints(i);
				
		  // console.log the iteration key and value
		  tableBody = tableBody + "<tr>";
		  tableBody = tableBody + "<td style=\"cursor:pointer\" onclick=\"location.href=
			\'https://flashsonic6666.github.io/HandoutClutch/4b7f06ba46b04a1124e84a74e97ba31ccce229b5/\'\">"
			  + putt[0] + "</td>" + "<td>" + putt[1] + "</td>" + "<td>" + putt[2] + "</td>" + "<td>" + putt[3] + "</td>"+ "<td>" + putt[4] + "</td>";
		  tableBody = tableBody + "</tr>";  

		}
		 
		$("#ptable").append(tableBody);
		
	}
	
   function getPoints(p1){
      
      //Holds points, required points, percentage, total points in handout
      var ans=[];
	   
      var score=0;
      var total=0;
      
      var points=JSON.parse(localStorage.getItem("points"));
      var correctness=JSON.parse(localStorage.getItem("correctness"));
      var pointsNeeded=JSON.parse(localStorage.getItem("pointsNeeded"));
	var handoutName=JSON.parse(localStorage.getItem("handoutName"));
      
      for(var i=0; i<points[parseInt(p1)].length; i++){
        score+=parseInt(points[parseInt(p1)][i])*parseInt(correctness[parseInt(p1)].charAt(i));
        total+=parseInt(points[parseInt(p1)][i]);
      }
      
      ans.push(handoutName[parseInt(p1)]);   
      ans.push(score);
      ans.push(pointsNeeded[parseInt(p1)]);
      ans.push((100*parseInt(score)/parseInt(pointsNeeded[parseInt(p1)])) + "%");
      ans.push(total);
      
      return ans;
   }
        </script>
</body>
</html>
